
body{background-color: bisque;
    font-family: 'Lobster', cursive;
    /* imagen */
background-image: url(../img/grieta.jpg);
   
}
img{
    width: 100%;
}

.hud{
display: flex;
flex-direction: row;
 
justify-content: space-between;
text-align: center;

}

.hud_champ{
    font-size: x-large;
    background-color: gray;
    color: rgb(255, 255, 255);
    
}
.iconos{
    width: 100%;
}

.champ_select{
    background-color: rgba(53, 53, 53, 0.705);
}